$active: #FF931E;
$nav_text: #eeeeee;
$white: #ffffff;
$heading_text: #2D3192;
$text_dark: #222222;
$muted_text: #5F6773;
$footer_border_color: #505050;
$footer_nav_text: #ffffff80;
$footer_list_heading: #ffffff99;
$copyright: #999999;
$btn-shadow-color: #dfe4eb;