@import "colors";
@import "mixins";
@import "reset";

body {
    header {
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 125px;
        transition: height 0.3s linear;

        .container {
            height: 100%;
            // background-color: rgb(110, 109, 106);
            display: flex;
            align-items: center;

            .list-group {
                &-item {
                    a {
                        color: $nav_text;
                        font-weight: bold;
                        transition: color 0.2s linear;

                        &.text-dark {
                            color: $text_dark;
                        }
                        &:hover {
                            color: $active !important;
                        }
                    }
                }
            }
        }
    }

    section#home {
        height: 100vh;
        width: 100%;
        background-image: url(../img/cover.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: color-burn;
        background-color: #0000002b;
        display: flex;
        align-items: center;

        .slogan {
            width: 650px;
            h1 {
                animation: slide-up 0.5s;
                line-height: 1.5;
                font-size: 50px;
            }

            p {
                animation: slide-up 1s;
                font-size: 15px;
            }
        }
        a.myscroll {
            display: flex;
            align-items: center;
            color: $white;
            position: absolute;
            bottom: 50px;
        }
    }
    section#engineers {
        animation: slide-up 1s;
        animation-play-state: paused;

        .heading {
            h1 {
                color: $heading_text;
            }

            .read-more {
                @extend %read-more;
            }
        }

        .card {
            border: 0;
            box-shadow: 0 0 1px black;
            .card-body {
                border: 0;
                h4 {
                    color: $text_dark;
                }
                p {
                    color: $muted_text !important;
                    font-size: 16px;
                    line-height: 1.62;
                    text-align: center;
                    color: #8d97a5;
                }
            }
        }
    }
    section#dark-city {
        min-height: 100vh;
        width: 100%;
        background-image: url(../img/dark_city.jpg);
        background-position: center;
        background-attachment: fixed;
        position: relative;
        .tech {
            position: absolute;
            top: 35%;
            left: 100px;

            animation: slide-right 1s;
            animation-play-state: paused;
            h1 {
                width: 500px;
                line-height: 1.5;
            }
        }
        .bg-navy {
            background-color: #2d3192b5;
            background-blend-mode: color-burn;

            .list-group {
                &-item:not(:last-of-type) {
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        width: 80%;
                        height: 1px;
                        background-color: rgba(255, 255, 255, 0.15);
                    }
                }
            }
        }
        .slide-down {
            display: none;
            position: absolute;
            height: 100%;
            right: 0;
            top: 0;
        }
    }
    section#counter {
        .row {
            margin: 100px 0;

            .text-navy {
                color: $heading_text;
            }
            .counter-box {
                h1 {
                    color: $active;
                }
                p {
                    color: $text_dark;
                    font-weight: 600;
                }
            }
        }
    }
    section#map {
        [data-city="RU"]:hover {
            fill: white;
        }
        path:hover {
            fill: blue;
            cursor: pointer;
        }
    }
    section#logos {
        background-color: #f6f8fe;
        animation: slide-up 0.5s;
        animation-play-state: paused;

        .text-navy {
            color: $heading_text;
        }

        .image-box {
            height: 150px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    section#teams {
        .row {
            justify-content: center;
            padding: 1rem 0;

            .text-navy {
                color: $heading_text;
            }

            .mycard {
                width: 196px;

                &__header {
                    background-image: url(../img/team_layout.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    display: flex;
                    justify-content: center;
                    height: 275px;
                }
                &__body {
                    h6 {
                        color: $text_dark;
                        text-align: center;
                        padding: 0.5rem 0;
                        margin-bottom: 0;
                        margin-top: 0.5rem;
                        font-weight: bold;
                    }
                }
                &__footer {
                    text-align: center;
                    padding: 0 0.5rem;

                    small {
                        color: $muted_text;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    section#jobs {
        padding: 3rem 0;
        background-color: #f6f8fe;

        .slide-up {
            animation: slide-up 0.5s;
            animation-play-state: paused;

            &:last-of-type {
                animation-duration: 1s;
            }
        }

        .text-navy {
            color: $heading_text;
        }

        .card {
            background-color: $heading_text;
            transform: translateX(-30px);
            margin: 0 -30px;
            padding: 25px;
            .card-footer {
                .read-more {
                    @extend %read-more;
                    width: 225px;
                    color: white;

                    span {
                        margin-left: 25px;
                    }
                }
            }
        }
    }

    section#news {
        animation: slide-up 0.5s;
        animation-play-state: paused;
        .heading {
            h1 {
                color: $heading_text;
            }

            .read-more {
                @extend %read-more;
            }
        }

        .card {
            .card-header {
                .imagebox {
                    height: 140px;
                    img {
                        transition: transform 0.2s linear;
                    }
                }
            }
            .card-body {
                padding: 1rem 0;
                p {
                    color: $text_dark;
                    font-size: 17px;
                    line-height: 1.62;
                    font-weight: 600;
                }
            }
            .card-footer {
                background-color: transparent;
                border: 0;
                padding: 1rem 0;
                p {
                    color: $muted_text;
                    font-size: 18px;
                    font-weight: 600;
                }
            }

            &:hover {
                .card-header {
                    .imagebox {
                        overflow: hidden;
                        img {
                            transform: scale(1.05);
                        }
                    }
                }
            }
        }
    }
    footer {
        background-color: black;

        .layout {
            background-image: url(../img/footer.svg);
            background-size: cover;
            background-position: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h1 {
                color: $white;
            }
            p {
                color: $white;
                a {
                    color: $white;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        .cities {
            .list-group-item {
                position: relative;

                a {
                    color: $footer_nav_text;
                    transition: color 0.3s linear;
                }

                a.read-more {
                    @extend %read-more;
                    color: $white;

                    &:hover {
                        color: $white;
                    }
                }

                &:hover {
                    a {
                        color: $active;
                    }
                }

                &:not(:nth-of-type(4)):not(:nth-of-type(3)):after {
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 1px;
                    background-color: $footer_border_color;
                    right: 0;
                }
            }
        }
        .list-group:not(.cities) {
            display: none;
            min-height: 350px;
            .list-group-item {
                p {
                    font-size: 18px;
                    color: $footer_list_heading;
                }

                h5,
                a {
                    color: white;
                    line-height: 1.5;
                }
            }
        }
        #amsterdam {
            display: block;
        }
        .copyright {
            margin-top: 75px;
            p {
                color: $copyright;
                font-weight: 600;
            }
        }
    }
}

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slide-right {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
