body section#engineers .heading .read-more, body section#jobs .card .card-footer .read-more, body section#news .heading .read-more, body footer .cities .list-group-item a.read-more {
  border: 3px solid #dfe4eb;
  border-radius: 10px;
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 600;
  transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  color: #222222;
}

body section#engineers .heading .read-more span, body section#jobs .card .card-footer .read-more span, body section#news .heading .read-more span, body footer .cities .list-group-item a.read-more span {
  color: #FF931E;
  font-size: 20px;
  transition: all 0.15s linear;
}

body section#engineers .heading .read-more:hover, body section#jobs .card .card-footer .read-more:hover, body section#news .heading .read-more:hover, body footer .cities .list-group-item a.read-more:hover {
  border-color: #FF931E;
}

body section#engineers .heading .read-more:hover span, body section#jobs .card .card-footer .read-more:hover span, body section#news .heading .read-more:hover span, body footer .cities .list-group-item a.read-more:hover span {
  transform: translateX(5px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.active a {
  color: #FF931E !important;
}

path {
  position: relative;
}

.counter {
  animation-duration: 1s;
  animation-delay: 0s;
}

.flying_country {
  display: none;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  height: 35px;
  padding: 0 10px;
  background: #fff;
  border-radius: 8px 8px 8px 0;
  position: absolute;
}

.flying_country.show_me {
  display: flex;
}

.flying_country::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 0;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  left: 0;
  top: 100%;
}

.flying_country span {
  display: inline-block;
  padding: 0 0 0 6px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #222;
}

.flying_country img {
  width: 24px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

body header {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 125px;
  transition: height 0.3s linear;
}

body header .container {
  height: 100%;
  display: flex;
  align-items: center;
}

body header .container .list-group-item a {
  color: #eeeeee;
  font-weight: bold;
  transition: color 0.2s linear;
}

body header .container .list-group-item a.text-dark {
  color: #222222;
}

body header .container .list-group-item a:hover {
  color: #FF931E !important;
}

body section#home {
  height: 100vh;
  width: 100%;
  background-image: url(../img/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: color-burn;
  background-color: #0000002b;
  display: flex;
  align-items: center;
}

body section#home .slogan {
  width: 650px;
}

body section#home .slogan h1 {
  animation: slide-up 0.5s;
  line-height: 1.5;
  font-size: 50px;
}

body section#home .slogan p {
  animation: slide-up 1s;
  font-size: 15px;
}

body section#home a.myscroll {
  display: flex;
  align-items: center;
  color: #ffffff;
  position: absolute;
  bottom: 50px;
}

body section#engineers {
  animation: slide-up 1s;
  animation-play-state: paused;
}

body section#engineers .heading h1 {
  color: #2D3192;
}

body section#engineers .card {
  border: 0;
  box-shadow: 0 0 1px black;
}

body section#engineers .card .card-body {
  border: 0;
}

body section#engineers .card .card-body h4 {
  color: #222222;
}

body section#engineers .card .card-body p {
  color: #5F6773 !important;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: #8d97a5;
}

body section#dark-city {
  min-height: 100vh;
  width: 100%;
  background-image: url(../img/dark_city.jpg);
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

body section#dark-city .tech {
  position: absolute;
  top: 35%;
  left: 100px;
  animation: slide-right 1s;
  animation-play-state: paused;
}

body section#dark-city .tech h1 {
  width: 500px;
  line-height: 1.5;
}

body section#dark-city .bg-navy {
  background-color: #2d3192b5;
  background-blend-mode: color-burn;
}

body section#dark-city .bg-navy .list-group-item:not(:last-of-type) {
  position: relative;
}

body section#dark-city .bg-navy .list-group-item:not(:last-of-type)::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.15);
}

body section#dark-city .slide-down {
  display: none;
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
}

body section#counter .row {
  margin: 100px 0;
}

body section#counter .row .text-navy {
  color: #2D3192;
}

body section#counter .row .counter-box h1 {
  color: #FF931E;
}

body section#counter .row .counter-box p {
  color: #222222;
  font-weight: 600;
}

body section#map [data-city="RU"]:hover {
  fill: white;
}

body section#map path:hover {
  fill: blue;
  cursor: pointer;
}

body section#logos {
  background-color: #f6f8fe;
  animation: slide-up 0.5s;
  animation-play-state: paused;
}

body section#logos .text-navy {
  color: #2D3192;
}

body section#logos .image-box {
  height: 150px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

body section#teams .row {
  justify-content: center;
  padding: 1rem 0;
}

body section#teams .row .text-navy {
  color: #2D3192;
}

body section#teams .row .mycard {
  width: 196px;
}

body section#teams .row .mycard__header {
  background-image: url(../img/team_layout.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 275px;
}

body section#teams .row .mycard__body h6 {
  color: #222222;
  text-align: center;
  padding: 0.5rem 0;
  margin-bottom: 0;
  margin-top: 0.5rem;
  font-weight: bold;
}

body section#teams .row .mycard__footer {
  text-align: center;
  padding: 0 0.5rem;
}

body section#teams .row .mycard__footer small {
  color: #5F6773;
  font-weight: 600;
}

body section#jobs {
  padding: 3rem 0;
  background-color: #f6f8fe;
}

body section#jobs .slide-up {
  animation: slide-up 0.5s;
  animation-play-state: paused;
}

body section#jobs .slide-up:last-of-type {
  animation-duration: 1s;
}

body section#jobs .text-navy {
  color: #2D3192;
}

body section#jobs .card {
  background-color: #2D3192;
  transform: translateX(-30px);
  margin: 0 -30px;
  padding: 25px;
}

body section#jobs .card .card-footer .read-more {
  width: 225px;
  color: white;
}

body section#jobs .card .card-footer .read-more span {
  margin-left: 25px;
}

body section#news {
  animation: slide-up 0.5s;
  animation-play-state: paused;
}

body section#news .heading h1 {
  color: #2D3192;
}

body section#news .card .card-header .imagebox {
  height: 140px;
}

body section#news .card .card-header .imagebox img {
  transition: transform 0.2s linear;
}

body section#news .card .card-body {
  padding: 1rem 0;
}

body section#news .card .card-body p {
  color: #222222;
  font-size: 17px;
  line-height: 1.62;
  font-weight: 600;
}

body section#news .card .card-footer {
  background-color: transparent;
  border: 0;
  padding: 1rem 0;
}

body section#news .card .card-footer p {
  color: #5F6773;
  font-size: 18px;
  font-weight: 600;
}

body section#news .card:hover .card-header .imagebox {
  overflow: hidden;
}

body section#news .card:hover .card-header .imagebox img {
  transform: scale(1.05);
}

body footer {
  background-color: black;
}

body footer .layout {
  background-image: url(../img/footer.svg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body footer .layout h1 {
  color: #ffffff;
}

body footer .layout p {
  color: #ffffff;
}

body footer .layout p a {
  color: #ffffff;
}

body footer .layout p a:hover {
  text-decoration: underline;
}

body footer .cities .list-group-item {
  position: relative;
}

body footer .cities .list-group-item a {
  color: #ffffff80;
  transition: color 0.3s linear;
}

body footer .cities .list-group-item a.read-more {
  color: #ffffff;
}

body footer .cities .list-group-item a.read-more:hover {
  color: #ffffff;
}

body footer .cities .list-group-item:hover a {
  color: #FF931E;
}

body footer .cities .list-group-item:not(:nth-of-type(4)):not(:nth-of-type(3)):after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #505050;
  right: 0;
}

body footer .list-group:not(.cities) {
  display: none;
  min-height: 350px;
}

body footer .list-group:not(.cities) .list-group-item p {
  font-size: 18px;
  color: #ffffff99;
}

body footer .list-group:not(.cities) .list-group-item h5,
body footer .list-group:not(.cities) .list-group-item a {
  color: white;
  line-height: 1.5;
}

body footer #amsterdam {
  display: block;
}

body footer .copyright {
  margin-top: 75px;
}

body footer .copyright p {
  color: #999999;
  font-weight: 600;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/*# sourceMappingURL=style.css.map */